/* PasswordGenerator.module.css */
.passwordGenerator {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.input {
    margin: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    margin: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.passwordDisplay {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    gap: 5px;
}

.passwordDisplay div {
    margin-top: 10px;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.passwordDisplay div:hover {
    background-color: #45a049;
}
